@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

.label1 {
width:150px;
position:relative;
font-weight:bold;
font-size:120%;
color:Black;
height:40px;
margin-right:0;
line-height:50px;

/*padding: 5px 5px 5px 5px;*/
}

.ip {
height:30px;
width:200px;
margin-left:10px;
float:right;
color:Black;
line-height:45px;
}

.rightcont {
float: right;
margin-top:10px;
}
.cont {
width:960px;
margin-left:auto;
margin-right:auto;
}

.leftcont {
width:300px;
float:left;
overflow:auto;
margin-top:10px;
color:Black;
}