#login_form {
	width: 300px;
	background: #f0f0f0 url(../img/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
	-moz-border-radius: 3px;
}

legend {
	display:block;
	text-align:left;
}

input[type=text], input[type=password], input[type=dropdown], select {
	display: block;
	margin: 0 0 1em 0;
	width: 280px;
	border: 5px;
	height:45px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 1em;
}

input[type=file]{
	margin:1em;
	margin-left:0px;
}

#uploadcsv, #uploadcsv.container {
	display:block;
	background-color:#aed2fc;
	margin-top:30px;
	margin-bottom:0px;
		border: 5px solid #ababab;
			-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding:2em;
	padding-top:10px;
	padding-bottom:0px;
	width:400px;;
}

#upload{
	display:block;
	background-color:#fff;
	margin-top:30px;
	padding:2em;
	text-align:center;
}

#regbutton {
	background-color:#3289ed;
			border: 5px solid #ababab;
			-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color:#fff;
	margin:1em;
	margin-left:0px;
	width:150px;
	padding:1em;
	cursor:normal;
	text-align:center;
	font-size:1.5em;
	font-weight:bold;
}

input[type=dropdown],select{
	margin-bottom:10px;
}

input[type=submit],input[type=dropdown],form a {
	border: none;
	margin-right: 1em;
	padding:1em;
	font-weight:bold;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #348075;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;

}

input[type=submit]:hover, form a:hover {
	background: #287368;
	padding:1em;
	font-weight:bold;
	cursor: pointer;
}

/* Validation error messages */

.error {
	color: #393939;
	font-size: 15px;
}

option {
	padding:1em;
}

fieldset{
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}

/* FOR FUN */

h1 {
	text-shadow: 0 1px 0 white;
}

/* Not necessary. Just the "tutorial created by" stuff at the bottom */

#tutInfo {
	background: #e3e3e3;
	border-top: 1px solid white;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: .7em .7em .7em 2em;
}

#register {
	width:400px;
	float:right;
	background-color:#aed2fc;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding-top:1em;
}

#regis {
	background-color:#fff;
	padding-top:30px;
}

#intro {
	float:left;
	padding-top:1em;
	padding-left: 3em;
	width:400px;
}

#uploadcsv {
	margin-top:50px;
}
